body{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url(/Login-Screen/images/Body\ Background.svg);
    background-size: cover;
    background-position: center;
}

.left{
    position: relative;
    background-color: transparent;
    width: 100px;
    height: 500px;
    box-shadow: 2px 2px 20px 2px rgb(129, 101, 101);
    /*
    opacity: 0.5;
    box-shadow:0px 5px 5px 5px #000;
    filter: blur(6px);
    */
}

.right{

    background-image: url(/Login-Screen/images/Right-Side.svg);
    width: 100px;
    height: 500px;
    /*box-shadow: 2px 2px 20px 2px rgb(129, 101, 101);*/
}

/*
.centering{
    position: relative;
    background-color: red;
    width: 70%;
}
*/

.cont{
position: relative;
top: 50vh;
transform: translateY(-50%);
}

.right-h1{
    position: relative;
    font-size: 30px; 
    color: white; 
    left: 50%;
    transform: translateX(-50%);
}

.right-p{
   color: white;
   font-size: small;
}

.right-img{
    position: relative;
    width: 100%;
    height: 65%;
    bottom: 50%;
    margin: 0px;
}

.left-h1{
    position: relative;
    text-align: center;
    font-size: 30px;
}

.label-name, .label-password{
    font-size: x-large;
}

#user-name, #password{
    height: 50px;
    font-size: 20px;
}

#user-name:focus, #password:focus{
    outline: 2px solid #E63232;
}

.left-button{
    position: relative;
    color: #E63232;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 50px;
    font-size: large;
    background-color: white;
    border: 2px solid #E63232;
    left: 50%;
    transform: translateX(-50%);
}

  .left-button:hover{
     background-color: #E63232;
     color: white;
  }


  @media screen and (max-width: 575px){

    .cont{
       
        top: 70vh;
        transform: translateY(-50%);
        }

        .left{
            background-color: white;
        }

  }